@import "../../variables";
.workflow-test {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  .workflow-diagram {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    height: 28%;
  }
  .input-output {
    display: flex;
    height: 72%;
    gap: 16px;
    position: relative;
    .component {
      border-radius: 8px;
      background-color: white;
      flex: 1;
      padding: 64px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #c8c8c8;
      }
    }
    .input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
    }
  }
  .test-button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: $color_primary;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    color: white;
    padding: 8px 16px;
    font-size: 1rem;
  }
}
