.model-wrapper {
  border-radius: 5px;
}

.model-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 20px 20px 5px;
  font-size: 18px;
}

.meta-data-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 20px 10px 20px;
  color: #626262;
  font-size: 14px;
}

.popularity {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  align-items: center;
}
.dot {
  padding: 0px 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #a9a9a9;
}
