.model-list-wrapper {
  display: flex;
  gap: 20px;
  height: 100%;

  .divider {
    background-color: red;
    border-right: 1px solid #efecf6;
  }
}

.tasks-wrapper {
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding-right: 24px;
  flex-basis: 30%;
}

.task-subtype {
  padding: 0;
}

.task-title {
  font-size: 14px;
  margin-bottom: 8px;
}

.task-header,
.models-header {
  font-size: 16px;
  font-weight: bold;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
}

.models-wrapper {
  flex: 1;
  padding: 24px;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 20px;
}

.modal-card-container {
  border: 1px solid;
  background-color: #fff;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  border-color: rgb(255, 255, 255);
}

.model-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.description-wrapper {
  background-color: #eeefff;
  padding: 20px;
  color: #807f7f;
  border-radius: 8px;
}

.compare-checkbox {
  padding-left: 20px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.compare-wrapper {
  height: 80px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 600;
  button {
    background-color: #47269e;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
  }
}
