.ai-toggle-wrapper {
  display: flex;
}

.ai-toggle-label {
  margin-right: 8px;
}

.create-flow-button {
  margin: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  background-color: #47269e;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
